@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<h1>
    @localizer["Privacy policy"]</h1>
<div class="container">
    <div>
        <div class="text-justify">@localizer["txt1"]</div>
        <br>
        <strong>@localizer["txt2"]</strong>
        <div>@localizer["txt3"]</div>
        <div>
            <ul>
                <li>@localizer["txt4"]</li>
                <li>@localizer["txt5"]</li>
                <li>@localizer["txt6"]</li>
            </ul>
        </div>

        <strong>@localizer["txt7"]</strong>
        <div>
            <ul>
                <li>@localizer["txt8"]</li>
                <li>@localizer["txt9"]</li>
                <li>@localizer["txt10"]</li>
            </ul>
        </div>
    </div>

</div>

