@model TicketsCartViewModel

@{
    ViewData["Title"] = "My orders";
}

<h1>My orders</h1>

<table class="table table-light">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Price</th>
            <th scope="col">Seller</th>
            <th scope="col">Status</th>
            <th scope="col">Track/Reason</th>
            <th scope="col">Count</th>
            <th scope="col">Count</th>
        </tr>
    </thead>
    <tbody >
        @if (Model.CartItems.Any())
        {
            foreach (var cartItem in Model.CartItems)
            {
                <tr>
                    <td>@Model.Events.Where(e => e.Id == Model.Tickets.Where(t => t.Id == Model.CartItems.Where(ci => ci.TicketId == cartItem.TicketId).Select(ci => ci.TicketId).FirstOrDefault()).Select(t => t.EventId).FirstOrDefault()).Select(e => e.Name).FirstOrDefault()</td>
                    <td>@Model.Tickets.Where(t => t.Id == cartItem.TicketId).Select(t => t.Price).FirstOrDefault()</td>
                    <td>@Model.Sellers.Where(s => s.TicketsCartId == cartItem.TicketsCartId).Select(s => s.FirstName).FirstOrDefault() @Model.Sellers.Where(s => s.TicketsCartId == cartItem.TicketsCartId).Select(s => s.LastName).FirstOrDefault()</td>
                    <td>@cartItem.Status</td>
                    <td>@cartItem.TrackNumber</td>
                    <td>
                        <form method="post" asp-action="ChangeCount" class="form-inline">
                            <input hidden name="id" value="@cartItem.TicketId" />
                            <input hidden name="count" value="@(cartItem.Count - 1)" />
                            <button type="submit" class="btn btn-light">-</button>
                        </form>
                        @Html.DisplayFor(modelItem => cartItem.Count)
                        <form method="post" asp-action="ChangeCount" class="form-inline">
                            <input hidden name="id" value="@cartItem.TicketId" />
                            <input hidden name="count" value="@(cartItem.Count + 1)" />
                            <button type="submit" class="btn btn-light">+</button>
                        </form>
                    </td>
                    <td>
                        <a class="nav-link" asp-action="ChangeCount">
                            <img src="~/img/icons/up-chevron.svg" width="20" height="20" class="d-inline-block align-top" alt="" loading="lazy">
                        </a>
                        <a class="nav-link" asp-action="ChangeCount">
                            <img src="~/img/icons/down-chevron.svg" width="20" height="20" class="d-inline-block align-top" alt="" loading="lazy">
                        </a>

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">Cart is empty</td>
            </tr>
        }

    </tbody>
</table>
