@model ConfirmRejectTicketViewModel

@{
    ViewData["Title"] = "Confirmation of ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Confirmation of ticket</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmTicket">
            <div class="form-group">
                @Model.Ticket.Event.Name
            </div>
            <div class="form-group">
                @Model.Ticket.Price
            </div>
            <div class="form-group">
                Confirm or reject ticket
                <input asp-for="@Model.Confirmation" class="form-control" />
            </div>
            <div class="form-group">
                Please type track number, if you confirm order and typeasonm if not.
                <input asp-for="@Model.TrackNumber" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" asp-route-ticketId="@Model.Ticket.Id"/>
                <input type="submit" value="Back" class="btn btn-primary" asp-controller="Tickets" asp-action="MyTickets" asp-route-ticketStatus="1" asp-route-userName="@User.Identity.Name" />
            </div>
        </form>
    </div>
</div>

