@model TicketsResale.Models.EventTicketsViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{ 
    string disableState;
}

<div class="card">
    <img src="~/img/@Model.eventTickets.Keys.ElementAt(0).Banner" alt="@Model.eventTickets.Keys.ElementAt(0).Name" class="card-img-top img-fluid" />
    <div class="card-body">
        <h4><strong>@Model.eventTickets.Keys.ElementAt(0).Name</strong></h4>
        <h4><strong>@Model.Venue.City.Name</strong></h4>
        <h4>@localizer["Venue:"] @Model.Venue.Name</h4>
        <p><strong>@Model.eventTickets.Keys.ElementAt(0).Date.Date.ToShortDateString()</strong></p>
        <p class="text-justify">@Html.Raw(@Model.eventTickets.Keys.ElementAt(0).Description)</p>
    </div>

    <div class="container-fluid">
        <div class="row row-cols-2">
            @foreach (var ticket in @Model.eventTickets.Values.ElementAt(0))
            {
                <div class="col-sm-3">
                    <div class="card text-center">
                        <img src="~/img/ticket.jpg" class="card-img-top img-fluid" />
                        <div class="card-body">
                            <h4>
                                <strong>
                                        @localizer["Seller:"] @Model.Sellers.Where(s => s.Id == ticket.SellerId).Select(s => s.FirstName).FirstOrDefault() @Model.Sellers.Where(s => s.Id == ticket.SellerId).Select(s => s.LastName).FirstOrDefault()
                                </strong>
                            </h4>
                            <h4>$@ticket.Price</h4>
                            <p><strong>@ViewBag.ticketStatuses[ticket.Status]</strong></p>
                            @if (ticket.Status == TicketsResale.Business.Models.TicketStatuses.sold) disableState = "btn btn-primary disabled";
                            else disableState = "btn btn-primary";
                            @Html.ActionLink(localizer["Buy"].Value, "Buy", "Tickets", new { id = @ticket.Id }, new { @class = disableState})
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
