@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model MyTicketsViewModel
<header>
    <div>
        <h1>@localizer["My tickets"]</h1>
    </div>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item bg-dark text-light">
            @if (Model.ticketStatus == TicketsResale.Business.Models.TicketStatuses.selling)
            { <a class="nav-link bg-primary text-light" asp-area="" asp-controller="Tickets" asp-action="MyTickets" asp-route-ticketStatus="1" asp-route-userName="@User.Identity.Name">@localizer["Selling"]</a>}
            else
            { <a class="nav-link bg-dark text-light" asp-area="" asp-controller="Tickets" asp-action="MyTickets" asp-route-ticketStatus="1" asp-route-userName="@User.Identity.Name">@localizer["Selling"]</a>}
        </li>
        <li class="nav-item bg-dark text-light">
            @if (Model.ticketStatus == TicketsResale.Business.Models.TicketStatuses.waiting)
            { <a class="nav-link bg-primary text-light" asp-area="" asp-controller="Tickets" asp-action="MyTickets" asp-route-ticketStatus="2" asp-route-userName="@User.Identity.Name">@localizer["Waiting Confirmation"]</a> }
            else 
            { <a class="nav-link bg-dark text-light" asp-area="" asp-controller="Tickets" asp-action="MyTickets" asp-route-ticketStatus="2" asp-route-userName="@User.Identity.Name">@localizer["Waiting Confirmation"]</a>}
        </li>
        <li class="nav-item bg-dark text-light">
            @if (Model.ticketStatus == TicketsResale.Business.Models.TicketStatuses.sold)
            {<a class="nav-link bg-primary text-light" asp-area="" asp-controller="Tickets" asp-action="MyTickets" asp-route-ticketStatus="3" asp-route-userName="@User.Identity.Name">@localizer["Sold"]</a>}
            else
            { <a class="nav-link bg-dark text-light" asp-area="" asp-controller="Tickets" asp-action="MyTickets" asp-route-ticketStatus="3" asp-route-userName="@User.Identity.Name">@localizer["Sold"]</a>}
        </li>
    </ul>
</header>
<p></p>
<ul class="nav nav-tabs bg-dark">

    <li class="nav-item">
        <a class="nav-link text-light" asp-action="CreateTicket">
            @localizer["Create ticket"]
        </a>
    </li>
</ul>
<table class="table bg-dark text-light">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @localizer["Name"]
            </th>
            <th>
                @localizer["Date"]
            </th>
            <th>
                @localizer["Price"]
            </th>
            <th>
                @localizer["Seller"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model.Tickets)
        {
            <tr>
                <td>
                    <img src="~/img/ticket.jpg" alt="Ticket" class="card-img-top" />
                </td>
                <td>
                    @Model.Events.Where(e => e.Id == ticket.EventId).Select(e => e.Name).FirstOrDefault()
                </td>
                <td>
                    @ticket.Event.Date.Date.ToShortDateString()
                </td>
                <td>
                    $@ticket.Price
                </td>
                <td>
                    @Model.Users.Where(u => u.Id == ticket.SellerId.ToString()).Select(u => u.FirstName).FirstOrDefault() @Model.Users.Where(u => u.Id == ticket.SellerId.ToString()).Select(u => u.LastName).FirstOrDefault()
                </td>
                @if (Model.ticketStatus == TicketsResale.Business.Models.TicketStatuses.waiting)
                {
                    <td>
                        <ul class="nav flex-column bg-dark">
                            <li class="nav-item bg-primary">
                                <a class="nav-link text-light" asp-action="ConfirmTicket" asp-controller="Tickets" asp-route-id="@ticket.Id">
                                    @localizer["Confirm"] | @localizer["Reject"]
                                </a>
                            </li>
                        </ul>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
