@model TicketsResale.Business.Models.Event

@{
    ViewData["Title"] = "Delete event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Delete event</h1>
<h4> Are you sure you want to delete event: @Html.DisplayFor(modelItem => Model.Name)?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd> 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Venue
        </dt>
        <dd class="col-sm-10">
            @ViewBag.VenueName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banner)
        </dt>
        <dd class="col-sm-10">
            <div class="form-group">
                <img src="~/img/@Model.Banner" width="50%" height="50%" class="card-img-top" />
            </div>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
    </dl>

    <form asp-action="DeleteEvent" asp-controller="Admin" asp-route-id="@Model.Id">
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <input type="submit" value="Back" class="btn btn-primary" asp-action="Events" />
        </div>
    </form>
</div>
