@model TicketsResale.Business.Models.City
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = @localizer["Create City"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
    @localizer["Create city"]</h1>
<h4>
    @localizer["Type here city name"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCity" asp-controller="Admin">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="@localizer["Create"]" class="btn btn-success" />
                <input type="submit" value="@localizer["Back"]" class="btn btn-primary" asp-action="Cities" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
