@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<h1>@localizer["Admin panel"]</h1>
<div class="container">
    <table class="table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>@localizer["adminText1"] <br />@localizer["adminText2"]</p>
                </td>
            </tr>

        </tbody>
    </table>
    <div class="col-4">
        <ul class="nav nav-tabs flex-column bg-dark">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Cities" asp-route-page="1">
                    @localizer["Cities"]
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Venues">
                    @localizer["Venues"]
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Events">
                    @localizer["Events"]
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Users">
                    @localizer["Manage users rights"]
                </a>
            </li>
        </ul>
    </div>
</div>