@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<TicketsResale.Business.Models.EventCategory>

<h1>@localizer["Events"]</h1>

<div class="container-fluid">
    <ul class="nav nav-pills">
        <li class="nav-item" style="padding-right: 20px">
            @localizer["Category"]
            <select id="category" multiple class="selectpicker">
                @foreach (var category in Model)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </li>
        <li class="nav-item" style="padding-right: 20px">
            @localizer["Date"]
            <select id="date">
                @foreach (var category in Model)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </li>
        <li class="nav-item" style="padding-right: 20px">
            @localizer["Venue"]
            <select id="venue">
                @foreach (var category in Model)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </li>
        <li class="nav-item" style="padding-right: 20px">
            @localizer["City"]
            <select id="venue">
                @foreach (var category in Model)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </li>
    </ul>
    <p></p>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-item nav-link active text-light btn-secondary" asp-action="CreateTicket" asp-controller="Tickets">
                Create new ticket
            </a>
        </li>
    </ul>
    <p> </p>
    <div id="items" class="row row-cols-2">
    </div>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
        </ul>
    </nav>
</div>

@section Scripts
{
    <script src="dist/store.entry.js" type="module" defer></script>
}


