@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<h1>@localizer["Events"]</h1>
<div class="container-fluid">
    <div class="row row-cols-2">
        @foreach (var eventObj in Model.Events)
        {
            <div class="col-sm-6">
                <div class="card text-center">
                    <img src="~/img/@eventObj.Banner" alt="@eventObj.Name" class="card-img-top img-fluid" />
                    <div class="card-body">
                        <h4><strong>@eventObj.Name</strong></h4>
                        <h4><strong>@eventObj.Venue.City.Name</strong></h4>
                        <h4>@localizer["Venue:"] @eventObj.Venue.Name</h4>
                        <p><strong>@eventObj.Date.Date.ToShortDateString()</strong></p>
                        <p class="text-justify">@Html.Raw(@eventObj.Description)</p>
                        @Html.ActionLink(localizer["Buy ticket"].Value, "GetEventTickets", "Tickets", new { eventId = eventObj.Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>

        }
    </div>
</div>


