@model OrdersViewModel

@{
    ViewData["Title"] = "My orders";
}

<h1>My orders</h1>

<table class="table bg-dark text-light">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Price</th>
            <th scope="col">Seller</th>
            <th scope="col">Status</th>
            <th scope="col">Track/Reason</th>
        </tr>
    </thead>
    <tbody >
        @if (Model.Orders.Any())
        {
            foreach (var order in Model.Orders)
            {
                <tr>
                    <td>
                        <a class="nav-link text-light" asp-area="" asp-controller="Tickets" asp-action="GetEventTickets" asp-route-eventId ="@Model.Tickets.Where(t => t.Id == order.TicketId).Select(t => t.EventId).FirstOrDefault()">
                            @Model.Events.Where(e => e.Id == Model.Tickets.Where(t => t.Id == order.TicketId).Select(t => t.EventId).FirstOrDefault()).Select(e => e.Name).FirstOrDefault()
                        </a>
                    </td>
                    <td>@Model.Tickets.Where(t => t.Id == order.TicketId).Select(t => t.Price).FirstOrDefault()</td>
                    <td>@Model.Sellers.Where(s => s.Id == Model.Tickets.Where(t => t.Id == order.TicketId).Select(t => t.SellerId).FirstOrDefault()).Select(s => s.FirstName).FirstOrDefault() @Model.Sellers.Where(s => s.Id == Model.Tickets.Where(t => t.Id == order.TicketId).Select(t => t.SellerId).FirstOrDefault()).Select(s => s.LastName).FirstOrDefault()</td>
                    <td class="align-content-center">
                        @order.Status 
                        @if (order.Status == TicketsResale.Business.Models.OrderStatuses.confirmed)
                        { <img src="~/img/icons/yes.svg" width="20" height="20" class="d-inline-block align-top" alt="" loading="lazy"> }
                        else if (order.Status == TicketsResale.Business.Models.OrderStatuses.rejected)
                        { <img src="~/img/icons/no.svg" width="20" height="20" class="d-inline-block align-top" alt="" loading="lazy">}
                        else { <img src="~/img/icons/wait.svg" width="20" height="20" class="d-inline-block align-top" alt="" loading="lazy"> }
                    </td>
                    <td>@order.TrackNumber</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">Cart is empty</td>
            </tr>
        }

    </tbody>
</table>
